.background {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  top: 0;
  left: 0;
  z-index: 10;
}
.bg-opened {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto;
}
.ham-menu {
  width: 45px;
  height: 40px;
  background-color: $dark-blue;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}
.ham-menu div {
  height: 3px;
  border-radius: 100px;
  background-color: $primary-red;
  width: 25px;
  display: block;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
.ham-menu div:nth-of-type(1) {
  top: 10px;
}
.opened div:nth-of-type(1) {
  transform: translate(-50%, -50%) rotateZ(45deg);
  top: 50%;
}
.ham-menu div:nth-of-type(2) {
  top: 50%;
}
.opened div:nth-of-type(2) {
  opacity: 0;
}
.ham-menu div:nth-of-type(3) {
  top: calc(100% - 10px);
}
.opened div:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

//MENU
.menu {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background: $counter-dark;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  transition: 0.3s;
  max-width: 700px;
  width: calc(100vw - 40px);
  h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}
.menu-opened {
  opacity: 1;
  pointer-events: auto;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
}
.menu-date {
  display: flex;
  align-items: center;
  text-align: right;
}
.date {
  font-size: 1rem;
  .date-number {
    font-size: 1rem;
    color: $primary-red;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin: 20px 0;

  .menu-day {
    color: $primary-red;
    background: $very-dark;
    width: 40px;
    border-radius: 5px;
    margin-left: 50px;
    text-align: center;
  }
}

.menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: $primary-red;
  margin: 20px 0;
  margin-right: 20px;
  .menu-day {
    margin-left: 50px;
  }
}
.data-scroll {
  width: 100%;
  height: 325px;
  overflow-y: scroll;
  padding-right: 10px;
}
.data-scroll::-webkit-scrollbar {
  width: 10px;
}
.data-scroll::-webkit-scrollbar-track {
  background-color: $very-dark;
  border-radius: 25px;
}
.data-scroll::-webkit-scrollbar-thumb {
  background: $dark-blue;
  border-radius: 25px;
}
